.composer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000c;
    z-index: 99999;
    display: flex;
    justify-content: center;

    .composer {
        margin-top: 100px;
        max-width: 600px;
        width: 100%;
        border-radius: 8px;
        background-color: var(--background);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px;
        display: flex;
        flex-direction: column;

        .composer-actions {
            margin-inline: 16px;
            margin-top: 16px;
            height: 45px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .composer-reply-button {
                padding: 0.5rem;
                border-radius: 8px;
                background-color: var(--primary);
                margin-bottom: 1rem;
            }
        }

        .composer-reply-post-container {
            width: 100%;
            border-bottom: 1px solid var(--border);

            .composer-reply-post {
                display: flex;
                flex-direction: row;
                padding: 0.5rem 0.8rem;
                gap: 0.4rem;

                .composer-reply-post-text {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;

                    .composer-username {
                        font-weight: bold;
                        margin-left: 0.3rem;
                    }
    
                    .composer-reply-text {
                        margin-top: 0.3rem;
                        margin-left: 0.3rem;
                    }
                }
            }

        }

        .composer-reply-area {
            box-sizing: border-box;
            height: 100%;
            padding: 0.8rem;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            position: relative;
            margin-top: 0.2rem;

            .composer-bottom-actions {
                border-top: 1px solid var(--border);
                position: absolute;
                display: flex;
                flex-direction: row;
                padding: 0.6rem 0.2rem;
                bottom: 0;
                width: 100%;
                gap: 0.5rem;
            }
            
            .composer-uploaded-img-container {
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 0rem;
                gap: 0.5rem;
                margin-left: 0.2rem;
                margin-bottom: 3.5rem;

                .composer-uploaded-img-overlay-container {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .composer-uploaded-img-overlay {
                        position: relative;

                        .composer-uploaded-img-overlay-content {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            z-index: 99;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-direction: row;
                            align-items: flex-start;
                            margin-top: 0.2rem;
                            margin-left: 0.2rem;

                            .composer-alt-img-button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: black;
                                border-radius: 4px;
                                padding: 0.1rem 0.4rem;
                                font-size: 14px;
                            }

                            .composer-edit-delete-img-container {
                                display: flex;
                                flex-direction: row;
                                gap: 0.2rem;
                                margin-right: 0.4rem;

                                .composer-delete-img-button {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 20px;
                                    height: 20px;
                                    background-color: black;
                                    border-radius: 50%;
                                }
    
                                .composer-edit-img-button {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 20px;
                                    height: 20px;
                                    background-color: black;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }

                .composer-uploaded-img {
                    width: 8rem;
                    height: 8rem;
                    object-fit: contain;
                    border-radius: 8px;
                }
            }
    
            .composer-content-area {
                word-wrap: break-word;
                font-variant-ligatures: none;
                font-feature-settings: "liga" 0;
                outline: none;
                border: none;
                min-width: calc(100% - 4rem);
                margin-right: 0.6rem;
                margin-left: 0.8rem;
                margin-top: 0.2rem;
                overflow: auto;
                max-height: 200px;
            }

            .composer-placeholder {
                color: var(--text-light);
                position: absolute;
                left: 4.8rem;
                top: -0.1rem;
                pointer-events: none;
            }
        }
    }

    .composer-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .composer-emoji-picker-mask {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;

        .composer-emoji-picker {
            position: absolute;
            top: 400px;
            left: 200px;
            z-index: 999999;   
        }
    }
}