.post-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-light);
    align-items: center;
    margin-top: 0.8rem;

    .post-control {
        min-width: 0;
        display: flex;
        justify-self: flex-start;
        align-items: center;
    }

    .post-control-count {
        margin-left: 0.5rem;
        font-size: 15px;
        align-items: center;
    }
}