.home-tabs {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
    width: 100%;
  
    .home-more {
        background-color: var(--secondary);
        display: flex;
        padding-top: 20px;
        justify-content: center;
        width: 30px;
        right: 0px;
        position: absolute;
        height: 50px;

        &:hover {
            background-color: var(--secondary-highlight);
        }
    }

    .tab {
      padding-inline: 1rem;
      padding-block: 1.2rem;
      font-weight: bold;
      color: var(--text-light);
      white-space: nowrap;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
  
      &--active {
        color: var(--text);
      }
  
      &:hover {
        background-color: var(--secondary-highlight);
      }
    }
  }