.tablist {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
      display: none;
  }

  .tab {
      padding-inline: 1rem;
      padding-top: 1rem;
      font-weight: bold;
      color: var(--text-light);
      white-space: nowrap;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &--active {
          color: var(--text);

          .tab-border {
            border-bottom: 4px solid var(--primary);
            margin-top: 0.8rem;
          }
      }

      &:hover {
          background-color: var(--secondary-highlight);
      }
  }
}
