.embed-handler {
    margin-bottom: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
}

.embed-images { 
    margin-top: 0.5rem;
}