.embed-handler {
    margin-bottom: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;

    .embed-external-img {
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .embed-external-info {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 0.8rem;

        .embed-external-uri {
            color: var(--text-light);
            font-size: 14px;
        }

        .embed-external-title {
            font-weight: bold;
        }

        .embed-external-description {
            font-size: 15px;
        }
    }
}

.embed-images { 
    margin-top: 0.8rem;
    margin-bottom: -1rem;
}