.embed-container {
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    margin-top: 0.8rem;

    .embed-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;

        .embed-deleted {
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
            align-items: center;
        }

        .embed-info-and-timestamp {
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
            align-items: center;
            margin-bottom: 0.1rem;
            max-width: 100%;

            .embed-author-display-name-and-handle {
                display: flex;
                max-width: 90%;
                flex-grow: 0;
                flex-shrink: 0;
                align-items: center;

                .embed-author-display-name {
                    display: flex;
                    white-space: nowrap;
                    flex-wrap: nowrap;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 60%;
                }
        
                .embed-author-handle {
                    color: var(--text-light);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 0;
                    max-width: max-content;
                    flex: 1;
                }
            }
        }

        .embed-timestamp {
            color: var(--text-light);
        }
    }
}