.main-top-bar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--secondary);

    .main-top-bar-title {
        font-size: x-large;
    }

    .main-top-bar-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
        
        .main-top-bar-profile-icon {
            margin-left: 0.2rem;
        }
    }
}

.main-top-bar-button {
    padding: 0.5rem;
    width: 40px;
    border-radius: 50%;

    &:hover {
        background-color: var(--secondary-highlight);
    }
}