.nav-link {
    color: inherit;
    
    .nav-button {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        padding: 0.8rem;
        width: 50px;
        margin-inline: 0.2rem;
        border-radius: 50%;
    
        &:hover {
            background-color: #ebebeb;
        }
    }
}