.nav-link {
    color: inherit;
    
    .nav-button {
        padding: 0.8rem;
        width: 50px;
        margin-inline: 0.2rem;
        border-radius: 50%;
    
        &:hover {
            background-color: #ebebeb;
        }
    }
}