.post-reason {
    margin-left: 2.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: var(--text-light);
}

.post {
    padding: 0.8rem;
    border-bottom: 1px solid var(--border);
    display: flex;

    .post-avatar {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .post-info-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .post-info {
            display: flex;
            flex-direction: column;
            width: 100%;

            .post-info-and-timestamp {
                display: flex;
                flex-direction: row;
                gap: 0.4rem;
                align-items: center;
                margin-bottom: 0.1rem;
            }
    
            .post-info-inner {    
                display: flex;
                align-items: baseline;
                max-width: max-content;
                
                .post-display-name {
                    font-weight: bold;
                }
        
                .post-handle {
                    color: var(--text-light);
                }
            }
    
            .post-content {
                margin-bottom: 0.8rem;
            }

            .post-reply-tag {
                display: flex;
                align-items: center;
                color: var(--text-light);
                gap: 0.25rem;
                font-size: 15px;
                margin-bottom: 0.2rem;
            }
        }
    }
}

.post-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-light);
    align-items: center;

    .post-controls-comment,
    .post-controls-repost,
    .post-controls-like,
    .post-controls-more {
        display: flex;
        justify-self: flex-start;
    }

    .post-controls-comment-count,
    .post-controls-repost-count,
    .post-controls-like-count {
        margin-left: 0.5rem;
    }
}

.post-timestamp {
    color: var(--text-light);

    &:hover {
        text-decoration: underline;
    }
}