.post-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-light);
    align-items: center;

    .post-controls-comment,
    .post-controls-repost,
    .post-controls-like,
    .post-controls-more {
        display: flex;
        justify-self: flex-start;
        align-items: center;
    }

    .post-controls-comment-count,
    .post-controls-repost-count,
    .post-controls-like-count {
        margin-left: 0.5rem;
        font-size: 15px;
        align-items: center;
    }
}