.sidebar-container {
    margin: 0;
    padding: 0.2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: calc(-670px + 50vw);
  
    @media screen and (max-width: 1959px) {
        left: 0;
    }
  }
  