:root {
    --pill-button-highlight: #e9e9e9;
}

[data-theme='dim'] {
    --pill-button-highlight: #3e5668;
}

[data-theme='dark'] {
    --pill-button-highlight: #515151;
}

.button {
    background-color: var(--secondary-highlight);
    padding: 0.6rem;
    padding-inline: 1rem;
    border-radius: 40px;

    &:hover {
        background-color: var(--pill-button-highlight);
    }
}