.post-reason {
    margin-left: 1.4rem;
    margin-bottom: 0.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: var(--text-light);
    max-width: max-content;
}

.post {
    padding: 0.8rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    text-decoration: none !important;

    .post-avatar {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .post-info-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .post-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;

            .post-info-and-timestamp {
                display: flex;
                flex-direction: row;
                gap: 0.4rem;
                align-items: center;
                margin-bottom: 0.1rem;
                flex-wrap: nowrap;
            }
    
            .post-info-inner {    
                align-items: baseline;
                overflow: hidden;
                display: flex;
                white-space: nowrap;
                max-width: 100%;
                max-width: 80%;
                
                .post-display-name {
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
        
                .post-handle {
                    color: var(--text-light);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 0;
                    max-width: max-content;
                    flex: 1;
                }
            }

            .post-reply-tag {
                display: flex;
                align-items: center;
                color: var(--text-light);
                gap: 0.25rem;
                font-size: 15px;
                margin-bottom: 0.2rem;
            }
        }
    }
}

.post-timestamp {
    color: var(--text-light);

    &:hover {
        text-decoration: underline;
    }
}