.avatar {
    border-radius: 50%;

    > object {
        border-radius: 50%;
        background-color: var(--primary);
    }

    .avatar-fallback {
        background-color: var(--primary);
        border-radius: 50%;
        align-items: flex-end;
        justify-content: center;
        display: flex;
        overflow: hidden;
    }
}