.basic-view {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .basic-view-inner {  
        width: 100%;    
        display: flex;
        flex-direction: column;

        .basic-view-padding {
            height: 100vh;
        }
    }
}