// Default theme
:root {
  --primary: #007bff;
  --secondary: #f9fafb;
  --secondary-highlight: #e2e2e2;
  --background: #fff;
  --text: #000;
  --text-light: #4b4b4b;
  --border: #ced4da;
  --box-shadow: rgba(0, 0, 0, 0.15);
}

// Dim theme
[data-theme='dim'] {
  --secondary: #1f2a33;
  --secondary-highlight: #2d3e4b;
  --background: #1b2229;
  --text: #fff;
  --text-light: #c0c0c0;
  --border: #151c22;
}

// Dark theme
[data-theme='dark'] {
  --secondary: #070707;
  --secondary-highlight: #363636;
  --background: #000;
  --text: #fff;
  --text-light: #c0c0c0;
  --border: #000000;
}

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

.no-button-style {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.no-underline {
  text-decoration: none !important;
}