$primary-color: #007bff;
$secondary-color: #f9fafb;
$background-color: #fff;
$text-color: #000;
$text-light-color: #4b4b4b;
$border-color: #ced4da;
$box-shadow-color: rgba(0, 0, 0, 0.15);

// dark theme
$dark-secondary-color: #070707;
$dark-background-color: #000;
$dark-text-color: #fff;
$dark-text-light-color: #c0c0c0;
$dark-border-color: #000000;